CREATE DATABASE Travel_DB
go
USE Travel_DB
GO
/****** Object:  Table [dbo].[Food]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Food](
	[food_id] [int] IDENTITY(1,1) NOT NULL,
	[city_id] [varchar](30) NULL,
	[name] [nvarchar](200) NULL,
	[FoodAddress] [nvarchar](500) NULL,
	[images] [nvarchar](500) NULL,
	[descriptions] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Home]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Home](
	[city_id] [varchar](30) NOT NULL,
	[city_name] [nvarchar](500) NULL,
	[descriptions] [ntext] NULL,
	[imgCity] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[city_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Images]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[travel_id] [varchar](30) NULL,
	[imageLink] [varchar](500) NULL,
	[name] [nvarchar](500) NULL,
	[IMGdesc] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ListFV]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ListFV](
	[username] [varchar](30) NULL,
	[travel_id] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Travel]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Travel](
	[travel_id] [varchar](30) NOT NULL,
	[city_id] [varchar](30) NULL,
	[travelname] [nvarchar](50) NULL,
	[images] [nvarchar](500) NULL,
	[descriptions] [ntext] NULL,
	[Tstatus] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[travel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TravelDetail]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TravelDetail](
	[travel_id] [varchar](30) NULL,
	[name] [nvarchar](50) NULL,
	[video] [nvarchar](max) NULL,
	[content] [ntext] NULL,
	[DateUpload] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 13/11/2018 22:16:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](30) NOT NULL,
	[pass] [varchar](30) NULL,
	[name] [nvarchar](100) NULL,
	[role] [int] NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Food] ON 

INSERT [dbo].[Food] ([food_id], [city_id], [name], [FoodAddress], [images], [descriptions]) VALUES (1, N'dn', N'Kem bơ', N'Kem bơ cô Vân ở chợ Bắc Mỹ An', N'http://afamilycdn.com/2018/photo-7-1516553318819.jpg', N'Nhìn chung thì kem bơ không khác gì sinh tố bơ là mấy, chỉ là ngoài bơ xay còn có thêm kem cùng nước cốt dừa và dừa khô. ')
INSERT [dbo].[Food] ([food_id], [city_id], [name], [FoodAddress], [images], [descriptions]) VALUES (2, N'dn', N'Bánh xèo - nem lụi', N'35 Đỗ Thúc Tịnh; Bánh Tráng Thịt Heo Bà Hường: 364 Đường 2 Tháng 9', N'http://afamilycdn.com/2018/photo-12-1516553318827.jpg', N'Bánh xèo là đặc sản của nhiều địa phương, trong đó có Đà Nẵng. Bột bánh xèo được làm từ gạo ngon của Quảng Nam, ngâm chừng 4 tiếng, xay thành bột, pha lỏng với bột nghệ để tạo màu. Bánh phải đổ bằng lửa than, rau ăn kèm có đủ rau sống, đồ chua và chén tương chấm có màu nâu đỏ, sền sệt vị đậm đà, vừa lạ miệng vừa ngon.')
INSERT [dbo].[Food] ([food_id], [city_id], [name], [FoodAddress], [images], [descriptions]) VALUES (3, N'dn', N' Bún mắm nêm', N'20 Đoàn Thị Điểm; Bún Mắm Bà Đông: 141 Huỳnh Thúc Kháng', N'http://afamilycdn.com/2018/photo-15-1516553318830.jpg', N'Món bún này được xem là món đặc sản bình dân ở Đà Nẵng. Ban đầu, thành phần của tô bún chỉ đơn giản gồm bún, mắm nêm và mít non luộc. Về sau, người ta thêm vào các món ăn kèm như thịt heo quay, thịt ba chỉ, chả bò, nem, tai heo... để tô bún bắt mắt, hấp dẫn hơn.')
 DELETE FROM dbo.Food WHERE food_id = 22
SET IDENTITY_INSERT [dbo].[Food] OFF
INSERT [dbo].[Home] ([city_id], [city_name], [descriptions], [imgCity]) VALUES (N'dn', N'Đà Nẵng', N'Đà Nẵng là một thành phố thuộc trung ương, nằm trong vùng Nam Trung Bộ, Việt Nam, là trung tâm kinh tế, tài chính, chính trị, văn hoá, du lịch, xã hội, giáo dục, đào tạo, khoa học và công nghệ, y tế chuyên sâu của khu vực miền Trung - Tây Nguyên và cả nước', N'http://divui.com/blog/wp-content/uploads/2018/02/can-canh-ba-na-hill-chon-bong-lai-tien-canh-o-ha-gioi-1.jpg')
SET IDENTITY_INSERT [dbo].[Images] ON 
INSERT [dbo].[Images] ([image_id], [travel_id], [imageLink], [name], [IMGdesc]) VALUES (1, N'1', N'https://thumbnails.trvl-media.com/QrjJ4lgiQCP3Ts42dIpr3wwXdIs=/768x432/images.trvl-media.com/media/content/shared/images/travelguides/destination/6054458/Hanoi-Opera-House-95347.jpg', N'Phía bên ngoài nhà Hát Lớn', N'Tòa Nhà Hát Lớn Hà Nội')
INSERT [dbo].[Images] ([image_id], [travel_id], [imageLink], [name], [IMGdesc]) VALUES (2, N'1', N'https://thumbnails.trvl-media.com/dCrUa_fQy2VWLgSeHu_N0Zwd7NA=/768x432/images.trvl-media.com/media/content/shared/images/travelguides/destination/1428/Hanoi-95264.jpg', N'Phía bên ngoài nhà Hát Lớn', N'Khung cảnh chính diện')
INSERT [dbo].[Images] ([image_id], [travel_id], [imageLink], [name], [IMGdesc]) VALUES (3, N'1', N'https://thumbnails.trvl-media.com/rwF-Luu0XSHbRPJ8pE5CHAYk7G8=/768x432/images.trvl-media.com/media/content/shared/images/travelguides/destination/1428/Hanoi-Opera-House-35749.jpg', N'Phía bên ngoài nhà Hát Lớn', N'Khung cảnh chính diện')
SET IDENTITY_INSERT [dbo].[Images] OFF
INSERT [dbo].[ListFV] ([username], [travel_id]) VALUES (N'user2', N'16')
INSERT [dbo].[ListFV] ([username], [travel_id]) VALUES (N'user2', N'2')
INSERT [dbo].[ListFV] ([username], [travel_id]) VALUES (N'admin', N'28')
INSERT [dbo].[Travel] ([travel_id], [city_id], [travelname], [images], [descriptions], [Tstatus]) VALUES (N'10', N'dl', N'Nông Trại Sunny Farm', N'https://media.foody.vn/BlogsContents/29088280_1628846727193334_2806590849662582784_n.jpg', N'Đà Lạt luôn là xứ sở của những nông trại xanh ngát và hữu tình. Sunny Farm là một trong những điểm sáng, là nơi mà các bạn trẻ có thể đến tham quan một nông trại ngập tràn sắc hoa hướng dương hay rực đỏ những lá phong, rực hồng những cánh hoa đào mùa xuân.', 0)
INSERT [dbo].[Travel] ([travel_id], [city_id], [travelname], [images], [descriptions], [Tstatus]) VALUES (N'11', N'dl', N'Chợ đêm Đà Lạt - chợ Âm Phủ', N'https://media.foody.vn/images/l%C6%B0%20quy%E1%BB%81n.jpg', N'Chợ đêm ở Đà Lạt hay còn gọi bằng cái tên khác là chợ Âm Phủ. Tới đây ngoài mua sắm mua đặc sản cho mọi người, bạn còn được thưởng thức các món ăn vặt vừa thổi vừa ăn đặc trưng như: bánh tráng nướng, sữa đậu nành, khoai lang nướng .v.v..', 0)
INSERT [dbo].[TravelDetail] ([travel_id], [name], [video], [content], [DateUpload]) VALUES (N'2', N'Con đường gốm sứ', N'thIto9Ed_NI', N'Con đường gốm sứ ven sông Hồng xuất phát từ ý tưởng của họa sĩ, nhà báo Nguyễn Thu Thủy là một công trình nghệ thuật trong chương trình chào đón đại lễ 1000 năm Thăng Long [4] của nhân dân thủ đô Hà Nội. Công trình này đã nhận được giải thưởng "Bùi Xuân Phái" vì tình yêu Hà Nội" năm 2008 và Tổ chức Guinness thế giới đã công nhận đây là bức tranh gốm dài nhất thế giới (dài xấp xỉ 3,85 km) - đạt kỷ lục Guinness.', CAST(0xD73E0B00 AS Date))
INSERT [dbo].[Users] ([username], [pass], [name], [role], [email]) VALUES (N'admin', N'12345', N'AdminDepTrai', 1, N'hieunhhe141722@fpt.edu.vn')
INSERT [dbo].[Users] ([username], [pass], [name], [role], [email]) VALUES (N'hieu', N'123', N'Nguyen Huy Hieu', 0, N'hieunhhe141722@fpt.edu.vn')
INSERT [dbo].[Users] ([username], [pass], [name], [role], [email]) VALUES (N'long', N'123', N'Nguyen Thanh Long', 0, N'bigherodz54@gmail.com')
ALTER TABLE [dbo].[Food]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[Home] ([city_id])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD FOREIGN KEY([travel_id])
REFERENCES [dbo].[Travel] ([travel_id])
GO
ALTER TABLE [dbo].[ListFV]  WITH CHECK ADD FOREIGN KEY([travel_id])
REFERENCES [dbo].[Travel] ([travel_id])
GO
ALTER TABLE [dbo].[ListFV]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Users] ([username])
GO
ALTER TABLE [dbo].[Travel]  WITH CHECK ADD FOREIGN KEY([city_id])
REFERENCES [dbo].[Home] ([city_id])
GO
ALTER TABLE [dbo].[TravelDetail]  WITH CHECK ADD FOREIGN KEY([travel_id])
REFERENCES [dbo].[Travel] ([travel_id])
GO
