<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginUserFilter</filter-name>
        <filter-class>filter.LoginUserFilter</filter-class>
    </filter>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>filter.LoginAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginUserFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>TravelServlet</servlet-name>
        <servlet-class>controller.TravelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>controller.CityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TravelDetailServlet</servlet-name>
        <servlet-class>controller.TravelDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddListServlet</servlet-name>
        <servlet-class>controller.AddListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSaveServlet</servlet-name>
        <servlet-class>controller.ListSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleListServlet</servlet-name>
        <servlet-class>controller.DeleListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPassServlet</servlet-name>
        <servlet-class>controller.ResetPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>controller.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodServlet</servlet-name>
        <servlet-class>controller.FoodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminBlockServlet</servlet-name>
        <servlet-class>controller.AdminBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>controller.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminHideTravelServlet</servlet-name>
        <servlet-class>controller.AdminHideTravelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CityTravelServlet</servlet-name>
        <servlet-class>controller.CityTravelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditInfoServlet</servlet-name>
        <servlet-class>controller.EditInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TravelServlet</servlet-name>
        <url-pattern>/TravelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/CityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TravelDetailServlet</servlet-name>
        <url-pattern>/TravelDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListServlet</servlet-name>
        <url-pattern>/AddListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSaveServlet</servlet-name>
        <url-pattern>/ListSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleListServlet</servlet-name>
        <url-pattern>/DeleListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPassServlet</servlet-name>
        <url-pattern>/ResetPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodServlet</servlet-name>
        <url-pattern>/food</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminBlockServlet</servlet-name>
        <url-pattern>/adminblock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminHideTravelServlet</servlet-name>
        <url-pattern>/hidetravel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CityTravelServlet</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditInfoServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
